<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Volunteer Opportunities</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
  </head>
 
  <body>
    
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home">Volunteer Opportunities</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="home">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="about">About</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Great Sites<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.volunteermatch.org/">Volunteer Match</a></li>
            <li><a href="http://www.idealist.org/">Idealist</a></li>
            <li><a href="http://www.handsonnetwork.org/">Hands On Network</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  
  <div class="row text-center">
  <h1 class="text-center" top-margin="1000px">About</h1>
  <img src="http://www.dbqhumane.org/dbqhumane/site_files/editor_files/image/image/volunteer.jpg">
  <h2 class="text-center">A Resource For Those Looking To Help</h2>
  <h3 class="text-center">Since it's creation on July 23, Volunteer Opportunities has been striving to match people looking to serve others with the perfect organization. The service is completely free and it allows users to input characteristics they see as desirable in a charitable oganization and then matches these requests against a database full of organizations, resulting in the perfect match everytime.</h3> </div>
    
    </body>
    