<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pig Latinizer</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Ultimate Pig Latin Translator</h1>
   <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQbsxU04Sc6YLDMOJ2EP37y4J4NJirnBpo9gDf5IPUtsnm3VsRB3w">
   <form method="POST" action="/results">
     <input type="text" name="sentence">
     <input type="submit">
   </form>
  </body>
</html>