<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pig Latinizer</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1>Ultimate Pig Latin Results</h1>
   <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQbsxU04Sc6YLDMOJ2EP37y4J4NJirnBpo9gDf5IPUtsnm3VsRB3w">
   <h2><%= @translated_sentence%></h2> 
  </body>
</html>